@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,500);

html,body {height:100%;margin:0;padding:0;}


body {
    background: -webkit-linear-gradient(#C644FC, #5856D6); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#C644FC, #5856D6); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#C644FC, #5856D6); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#C644FC, #5856D6); /* Standard syntax */
}

#welcome {
  height: 80px;
  border-bottom: 1px solid #ffffff;
  background-color: #ffffff;
}

.overall {
  text-align: center;
}

#question {
font-family: 'Raleway', sans-serif;
  font-size: xx-large;
  text-align: center;
  padding-top: 20px;

}

#buttons button {
  background: #ffffff;
  width: 350px;
  height: 200px;
  border-radius: 9px;
  outline: none;
  border: 0.2px solid #ffffff;
  padding: 15px 15px;
  text-align: center;
  line-height: 20px;
  font-family: 'Raleway', sans-serif;
  font-size: x-large;
}

#buttons button:hover{
border: solid 2px #ffffff;
background:transparent;

}

#buttons button:active{
box-shadow: inset 0 0 0 1px #8c8c8c, inset 0 5px 30px #193047;
}

#Couns-Peer {
  margin: 100px;
  margin-left: 175px;
  float: left;
}

#Student1 {
  margin: 100px;
  margin-right: 175px;
  float: right;
}


